/*
fonts
*/

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Regular.eot');
    src: url('../fonts/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Regular.woff') format('woff'),
         url('../fonts/ClearSans-Regular.ttf') format('truetype'),
         url('../fonts/ClearSans-Regular.svg#open_sans') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Bold.eot');
    src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Bold.woff') format('woff'),
         url('../fonts/ClearSans-Bold.ttf') format('truetype'),
         url('../fonts/ClearSans-Bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-BoldItalic.eot');
    src: url('../fonts/ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-BoldItalic.woff') format('woff'),
         url('../fonts/ClearSans-BoldItalic.ttf') format('truetype'),
         url('../fonts/ClearSans-BoldItalic.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Italic.eot');
    src: url('../fonts/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Italic.woff') format('woff'),
         url('../fonts/ClearSans-Italic.ttf') format('truetype'),
         url('../fonts/ClearSans-Italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


/* general */

body {
    font-family: 'ClearSans';
    font-size: 14px;
    line-height: 1.4;
    background-color: #eee;
    color: #333;
}

.container {
    margin: 0 auto;
    text-align: left;
    width: 96%;
}

a, a:link, a:visited {
    color: #333;
    text-decoration: underline;
}

a:hover {
    color: #000;
}


/* header */

header {
    padding: 1em 0;
    color: #333;
}

header h1, header h2 {
    color: #333;
    margin: 10px 0;
}

header h1 a, header h1 a:link, header h1 a:visited,
header h2 a, header h2 a:link, header h2 a:visited {
    color: #333;
    text-decoration: none;
}

header h1 a:hover, header h2 a:hover {
    color: #333;
    text-decoration: none;
}

header img {
    max-width: 100px;
}

#menu ul {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a, #menu ul li a:link, #menu ul li a:visited {
    color: #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 2px;
    margin-left: 5px;
    text-decoration: none;
}

#menu ul li a:hover {
    color: #eeeeee;
    border-color: #eeeeee;
    text-decoration: none;
}


/* gallery */

#albums ul {
    list-style-type: none;
    padding-left: 0;
}

#albums ul li {
    display: inline-block;
    margin: 0 55px 30px 0;
    text-align: center;
    vertical-align: top;
    width: 280px;
}

#albums ul li:nth-child(3n+3) {
    margin-right: 0;
}

#albums ul li a img {
    opacity: 0.8;
    transition: opacity 0.2s ease-in;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
}

#albums ul li a:hover img {
    opacity: 1;
}

.album_title {
    display: block;
    color: #333;
    font-size: 1.3em;
    font-variant: small-caps;
    font-weight: bold;
}


/* galleria */

#gallery {
    line-height: 0;
    width: 100%;
    height: 600px;
}

#gallery video {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

.galleria-stage {
    background-color: #333;
}

.galleria-layer {
    width: 90% !important;
    height: 100% !important;
    margin: auto !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
}

@media only screen and (min-width: 980px) {
    .galleria-layer {
        height: 100% !important;
    }
}

/* fullscreen display link */

#fullscreen {
    cursor: pointer;
}


/* footer */

footer {
    clear: both;
    display: block;
    margin: 1em 0;
    text-align: center;
}

footer a:link, footer a:visited {
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    border-bottom: 1px solid;
    text-decoration: none;
}

.email {
    margin-bottom: -2px;
}


/* media queris */

@media only screen and (min-width: 980px) {
    .container {
        width: 960px;
    }

    #gallery {
        width: 980px;
        margin: 0 0 40px -10px;
    }

    header h1, #menu {
        display: inline-block;
        width: 49.5%;
    }

    #menu {
        text-align: right;
    }
}
